.header{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 60px;
    height: 80px;
    background: #ddd;
    color: #555;
}
.header.dark{
    background: #000;
    color: #fff;
}
.header__link{
    text-decoration: none;
}
.header__link.active{
    color: dodgerblue;
    text-decoration: underline;
}