*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
}
a{
    color: inherit;
    text-decoration: inherit;
}

footer{
    height: 300px;
    background: #333;
}